@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web;
@{
    int numOfProjects = Convert.ToUInt16(Model.MacroParameters["numOfProjects"]);
    var selection = Model.Content
        .Root()
        .FirstChildOfType("projectsOverview")
        .Children()
        .Where(x =>
            x.HasValue("projectStatus")
            && x.GetProperty("projectStatus").Value<string>() == "Completed"
        )
        .OrderByDescending(x => x.CreateDate)
        .Take(numOfProjects);
}

<section class="page-section portfolio" id="portfolio">
    <div class="container">

        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Latest completed projects</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Portfolio Grid Items -->
        <div class="row">

            @foreach (var item in selection)
            {
                <!-- Portfolio Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">
                                @Html.StripHtml(item.Value<string>("projectDescription")).ToString().Truncate(80)
                            </p>
                            <a href="@item.Url" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
            }

            </div>
        <!-- /.row -->

    </div>
</section>