@inherits Umbraco.Web.Mvc.UmbracoViewPage<ArticlesOverview>
@{
	Layout = "Master.cshtml";
}

<h1>@Model.ArticleTitle</h1>
<p>@Model.ArticlesBodyText</p>

@{
	var selection = Umbraco.Content(Guid.Parse("e170b774-2833-4a7f-aa68-22a486123e36"))
    .ChildrenOfType("articleItem")
    .Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

