@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<h2>
    @Model.Name
</h2>

<div>
    @Html.Action("Index", "ContactFormSurface")
</div>