@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePage>
@{
    Layout = "Master.cshtml";
}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="@Model.Logo.Url" alt="">

        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0">@Model.SiteTitle</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</header>

@Umbraco.RenderMacro("listNewestProjects", new { numOfProjects = "3" })

<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ml-auto">
                <p class="lead">
                    @Html.Raw(Model.MainContent)
                </p>
            </div>
        </div>
    </div>
</section>
