@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProjectsOverview>
@{
	Layout = "Master.cshtml";
}

<h1>@Model.ProjectsTitle</h1>
<p>@Model.ProjectsBodyText</p>

@{
	var selection = Model.Children().Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>


